# Working with AI on *n branches -> name the compose project
COMPOSE_PROJECT_NAME=changeme

# This image prefix ensures the docker images don't collide with any other containers you have running locally.
# The prefix can be seen in both the docker-compose files eg: `container_name: ${IMAGE_PREFIX}rabbitmq-prod`
# In this case "tpl" stands for template, but change this to something to relates to your product
IMAGE_PREFIX=changeme

# mongodb+srv://database_user:<db_password>@sub.subdomainhere.mongodb.net/?appName=dev
MONGO_HOST=sub.subdomainhere.mongodb.net
MONGO_USER=database_user
MONGO_PW=add your password here
MONGO_PROTOCOL=mongodb+srv
MONGO_ADDITIONAL_PARAMS=appName=dev&retryWrites=true&w=majority
MONGO_PORT=false

# SMTP SERVER - Locally the emails are sent via mailhog: http://localhost:8025
# This sets up your compose file to send emails via mailhog
# Which overrides the dev/prod instances which default to use the sendgrid smtp server
EMAIL_PORT=1025
EMAIL_HOST=mailhog
#EMAIL_USERNAME=sendgridusername
#EMAIL_USERNAME=sendgridpassword
